parameters:
    level: 6
    paths:
        - ./
    excludes_analyse:
        - cache/
        - build/
        - vendor/

    # TODO review once we drop PHP 7.x support
    treatPhpDocTypesAsCertain: false

    # some extra rules
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    # TODO checkMissingClosureNativeReturnTypehintRule: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkMissingIterableValueType: false # TODO

    ignoreErrors:
        - '~^Unsafe usage of new static\(\)\.$~'
